.title_row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.title_row h5 {
  display: inline;
  width: fit-content;
}
.title_row button {
  height: min-content;
}

.trash{
    /* border: 2px solid rgba(248, 0, 0, 0) !important; */
    transition: all .2s ease !important;
}
.trash:hover {
    /* border: 2px solid rgba(248, 0, 0, 0.579) !important; */
    transform: scale(1.2) !important;
}

#btn_row{
  margin-bottom: 1px;
}

@media screen and (min-width: 900px) {
    nav{
        padding: 15px 50px !important;
        justify-content: space-between !important;
    }
  }
@media screen and (min-width: 1200px) {
    nav{
        padding: 15px 70px !important;
        justify-content: space-between !important;
    }
  }
nav{
  background-color: #007bff !important; 
}
