* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #00e073;
  color: #010409;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#writer{
  font-size: 35px;
  
}
 #writer::after{
  content: "|";
  animation: blink .5s infinite;
 }


@keyframes text{
  0%{
    opacity:0%;
  }
  100%{
    opacity: 100%;
  }
  
}